* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#container svg {
    width: 100%;
    height: 100%;
    display: block;
}

#toolbar {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#toolbar i {
    color: #676a6c;
}

#toolbar i:hover {
    cursor: pointer;
    color: #fcd300;
}