* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--vscode-editor-background);
}

#container svg {
    width: 100%;
    height: 100%;
    display: block;
}

#toolbar {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#toolbar i {
    color: var(--vscode-editor-foreground);
}

#toolbar i:hover {
    cursor: pointer;
    color: #fcd300;
}

svg text {
    fill: var(--vscode-editor-foreground);
}

svg marker {
    fill: var(--vscode-editor-foreground);
}