body {
    font-family: Arial, sans-serif;
}

.snippetCategoryContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--vscode-editor-foreground);
}

.snippetCategory {
    font-size: 20px;
    font-weight: bold;
    color: var(--vscode-editor-foreground);
    resize: none;
    border: none;
    background: none;
    field-sizing: content;
}

.snippetCategory:focus {
    outline: none;
    border:none;
}

.snippetsPerCategoryContainer {
    transition: height 0.5s ease, opacity 0.5s ease;
}

.snippetCard {
    margin-bottom: 10px;
    padding: 10px;
    border-top: solid 3px #fcd300;
    box-shadow: 4px 4px 2px var(--vscode-widget-shadow);
    background-color: var(--vscode-editorWidget-background);
    color: var(--vscode-editor-foreground);
    font-weight: bold;
}

.footerRow {
    display: grid;
    align-items: end;
}

.iconsContainer {
    text-align: right;
}

.iconsContainer > i {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: var(--vscode-editor-foreground);
}

.details {
    display: grid;
    grid-template-columns: 30% 70%;
}

.snippetPrefixContainer,
.snippetDescriptionContainer,
.snippetBodyContainer {
    display: flex;
    flex-direction: column;
}

.snippetPrefixContainer {
    margin-right: 10px;
}

.snippetPrefix,
.snippetDescription,
.snippetBody {
    width: 100%;
    padding: 5px;
    resize: vertical;
    box-sizing: border-box;
    resize: none;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--vscode-input-border);
    transition: border 0.2s;
    field-sizing: content;
    background-color: var(--vscode-input-background);
    color: var(--vscode-editor-foreground);
}

.snippetPrefix::placeholder,
.snippetDescription::placeholder,
.snippetBody::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.snippetPrefix:not([readonly]):focus,
.snippetDescription:not([readonly]):focus,
.snippetBody:not([readonly]):focus {
    border-color: #fcd300;
    outline: none;
    box-shadow: 0 0 10px #fcd300;
}

.newSnippetCard {
    border: 2px dashed #fcd300;
}

.snippetDivider {
    height: 1px;
    margin: 15px 0;
    background-color: var(--vscode-editor-foreground);
}

.header {
    display: flex;
    align-items: auto;
    margin: 10px 0;
}

.contributeButton {
    color: var(--vscode-editor-foreground);
    font-weight: bold;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    transition: color 0.2s;
}

.contributeButton:hover {
    cursor: pointer;
    color: #fcd300;
}

.snippetBodyTextareaContainer {
    position: relative;
}

.snippetBodyTextareaContainer > i {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    color: var(--vscode-editor-foreground);
}

i {
    transition: color 0.2s;
}

i:hover {
    color: #fcd300;
}